.page-header.header-filter.header-small{"data-parallax" => "true", :style => "background-image: url('#{asset_path 'bg.jpg'}');"}
  .container
    .row
      .col-md-8.ml-auto.mr-auto.text-center
        %h2.title Tu carrito de compras
.main.main-raised
  .container
    .card.card-plain
      .card-body
        .table-responsive
          %table.table.table-shopping
            %thead
              %tr
                %th.text-center
                %th Producto
                %th
                %th
                %th.text-right Precio
                %th.text-right Cantidad
                %th.text-right Subtotal
                %th
            %tbody
              - @shopping_cart.in_shopping_carts.each do |i_sh| 
                - product = i_sh.product
                %tr{id: "#{product.id}"}
                  - if product.images.any?
                    %td
                      .img-container
                        = cl_image_tag product.images.first.blob.key, :fetch_format=>:auto, :crop=>"scale"
                  %td.td-name{colspan: 2}
                    = link_to truncate(product.name, length: 50, separator: '...'), product
                    %br/
                    %small= link_to product.category.name, product.category, class: 'text-info'
                  %td
                  %td.td-number.text-right
                    %small= number_to_currency(product.pricing)
                  %td.td-number
                    .form-group.form-group-inline
                      = form_for i_sh do |f|
                        = f.number_field :quantity, class: 'form-control', min: 1
                  %td.td-number
                    %small= number_to_currency(product.pricing * i_sh.quantity)
                  %td.td-actions
                    = link_to i_sh, method: :delete, class: 'btn btn-link btn-danger', "data-placement": "left", "data-toggle": "tooltip", title: "Remover producto" do
                      %i.material-icons close
              %tr
                %td.td-total
                  Total
                %td.td-price
                  %small
                    = number_to_currency(@shopping_cart.total)
                    COP
                %td.text-right{:colspan => "6"}
                  = render 'payments/buttons'
= render 'payments/card_data'