%nav#sectionsNav.navbar.navbar-color-on-scroll.navbar-transparent.fixed-top.navbar-expand-lg{"color-on-scroll" => "100", "data-turbolinks-permanent": true}
  .container
    .navbar-translate
      = link_to root_path, class: 'navbar-brand' do
        GeoBike
      %button.navbar-toggler{"aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.navbar-toggler-icon
        %span.navbar-toggler-icon
        %span.navbar-toggler-icon
    .collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.dropdown.nav-item
          = link_to "#", id: "productsDropdown", class: 'nav-link dropdown-toggle', role: "button", "data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": false do
            %i.material-icons receipt
            Productos
          .dropdown-menu.dropdown-with-icons{"aria-labelledby": "productsDropdown"}
            = link_to 'Todos los productos', products_path, class: 'dropdown-item'
            = link_to 'Nuevo producto', new_product_path, class: 'dropdown-item'
        %li.dropdown.nav-item
          = link_to "#", id: "categoriesDropdown", class: 'nav-link dropdown-toggle', role: "button", "data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": false do
            %i.material-icons receipt
            Categorías
          .dropdown-menu.dropdown-with-icons{"aria-labelledby": "categoriesDropdown"}
            = link_to 'Todos las categorías', categories_path, class: 'dropdown-item'
            = link_to 'Nueva categoría', new_category_path, class: 'dropdown-item'
        %li.button-container.nav-item.iframe-extern
          = link_to cart_path, class: 'btn btn-rose btn-round btn-block' do
            %i.material-icons shopping_cart
            (
            %span#cart-size{"data-turbolinks-permanent": true}= @shopping_cart.products.count
            )
            Ver carrito
