%nav#sectionsNav.navbar.navbar-color-on-scroll.navbar-transparent.fixed-top.navbar-expand-lg{"color-on-scroll" => "100", "data-turbolinks-permanent": true}
  .container
    .navbar-translate
      = link_to root_path, class: 'navbar-brand' do
        GeoBike
      %button.navbar-toggler{"aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.navbar-toggler-icon
        %span.navbar-toggler-icon
        %span.navbar-toggler-icon
    .collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.nav-item
          = link_to products_path, class: 'nav-link' do
            %i.material-icons receipt
            Productos
        %li.nav-item
          = link_to events_path, class: 'nav-link' do
            %i.material-icons receipt
            Eventos
        - if user_signed_in?
          %li.dropdown.nav-item
            = link_to "#", id: "logoutDropdown", class: 'nav-link dropdown-toggle', role: "button", "data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": false do
              %i.material-icons face
              = current_user.name.mentionable
            .dropdown-menu.dropdown-with-icons{"aria-labelledby": "logoutDropdown"}
              = link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class: 'dropdown-item'
        - else
          %li.nav-item
            = link_to new_user_session_path, class: 'nav-link', "data-placement": "bottom", "data-toggle": "tooltip", title: "Iniciar sesión" do
              %i.material-icons fingerprint
              -# Iniciar sesión
          %li.nav-item
            = link_to new_user_registration_path, class: 'nav-link', "data-placement": "bottom", "data-toggle": "tooltip", title: "Crear cuenta" do
              %i.material-icons person_add
              -# Crear cuenta
        %li.button-container.nav-item.iframe-extern
          = link_to cart_path, class: 'btn btn-rose btn-round btn-block' do
            %i.material-icons shopping_cart
            (
            %span#cart-size{"data-turbolinks-permanent": true}= @shopping_cart.products.count
            )
            Ver carrito
