.page-header.header-filter{:style => "background-image: url('#{asset_path('bg7.jpg') }'); background-size: cover; background-position: top center;"}
  .container
    .row
      .col-lg-4.col-md-6.ml-auto.mr-auto
        .card.card-login.p-relative
          = form_tag "/custom_sign_up", method: :post, html: {class: 'form'} do
            .card-header.card-header-primary.text-center
              %h4.card-title Edita tu perfil antes de continuar
            .card-body
              %ul
                - @user.errors.full_messages.each do |error|
                  %li= error
              .input-group
                .input-group-prepend
                  %span.input-group-text
                    %i.material-icons mail
                = email_field_tag 'user[email]', autocomplete: "email", class: "form-control", placeholder: "Correo electrónico...", required: true
              .input-group
                .input-group-prepend
                  %span.input-group-text
                    %i.material-icons lock_outline
                = text_field_tag 'user[name]', autocomplete: "name", class: "form-control", placeholder: "Nombre completo...", required: true
            .footer.text-center
              = submit_tag 'Completar registro', class: " btn btn-primary btn-link btn-wd btn-lg"