.page-header.header-filter{"data-parallax" => "true", "filter-color" => "white", :style => "background-image: url('#{asset_path('bg.jpg')}');"}
  .container
    .row.title-row
.section.section-gray
  .container
    .main.main-raised.main-product
      .row
        .col-12.text-center
          %h3.title
            Productos en:
            = @category.name
          %ul.nav.nav-pills.nav-pills-rose.row.justify-content-center
            %li.nav-item
              = link_to 'Todas las categorías', categories_path, class: 'nav-link'
            - @categories.each do |category|
              %li.nav-item
                = link_to category.name, category, class: "nav-link #{ 'active' if category.id == @category.id}"
        - @category.products.each do |product|
          .col-lg-3.col-md-6
            .card.card-product
              - if product.images.any?
                .card-header.card-header-image
                  = link_to product do
                    = image_tag url_for(product.images.first), :fetch_format=>:auto, :crop=>"scale"
              .card-body
                %h6.card-category.text-rose= product.category.name
                = link_to product do
                  %h4.card-title= truncate(product.name, length: 40, separator: '...')
                .card-description
                  %p= truncate(product.description, length: 50, separator: '...')
                  .price.price-new
                    %h4
                      $
                      = product.pricing