= page_header("Todos los productos", "Conoce todos los productos de nuestro catálogo.", asset_path("bg.jpg"))

.main.main-raised
  .section.py-2
    .container
      .row.justify-content-between.align-items-center
        .col-lg-6.col-12
          %h3.section-title Busca lo que necesitas
        .col-lg-6.col-12.d-flex
          = render 'partials/search'
      .row
        .col-md-12
          .row
            - @products.each do |product|
              .col-md-4
                .card.card-product.card-plain.no-shadow{"data-colored-shadow" => "false"}
                  - if product.images.any?
                    .card-header.card-header-image
                      = link_to product do
                        = cl_image_tag "#{product.images.first.blob.key}"
                  .card-body
                    %h6.card-category.text-rose= link_to product.category.name, product.category
                    = link_to product do
                      %h4.card-title= product.name
                    %p.description= product.description
                  .card-footer.justify-content-between
                    .price-container
                      %span.price.price-new= number_to_currency(product.pricing)