<!DOCTYPE html>
<html>
  <head>
    <title>Geobike</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body class="<%= 'shopping-cart' if params[:controller] == 'shopping_cart' && params[:action] == 'show' %><%= 'product-page' if params[:controller] == 'products' && params[:action] == 'show' || params[:action] == 'new' || params[:action] == 'edit' %>">
    <%= render 'partials/nav' %>
    <%= yield %>
    <%= render 'partials/footer' %>
  </body>
</html>
